nav .fas{
    display: none;
}
@media only screen and (max-width: 600px) {
    #header{
        background-image: url(images/fotofondo.jpg);
    }
    .texto-cabecera{
        margin-top: 100%;
        font-size: 16px;
    }
    .texto-cabecera h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav {
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: black;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: rigth 0.5s;
    }
    nav ul li{
        display: block;
        margin: 35px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
}